<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="DefaultAppender" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}|%-5p|%t|%-80c{70}|%L|%m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>
    <logger name="org.apache.rocketmq.example" level="info"  additivity="false">
        <appender-ref ref="DefaultAppender"/>
    </logger>

    <logger name="org.apache.rocketmq.client" level="info"  additivity="false">
        <appender-ref ref="DefaultAppender"/>
    </logger>

    <root>
        <level value="ERROR"/>
        <appender-ref ref="DefaultAppender"/>
    </root>
</configuration>
